@model HotelDealsModel;

@{
    ViewData["Title"] = "Home Page";
}

<section class="top-section">
    <center>
        <div class="form-container">
            <form action="" method="get" name="filters-form">
                @*<input class="form-reset" type="reset">*@
                <input class="input-filters" id="destination-filters" type="text" placeholder="Destination City" name="destinationCity"
                       value="@Html.DisplayFor(filterParam => Model.Filters.DestinationCity)">
                <input class="input-filters" id="length-of-stay-filter" type="number" placeholder="Length Of Stay" name="lengthOfStay"
                       value="@Html.DisplayFor(filterParam => Model.Filters.LengthOfStay)">
                <label class="input-filters form-label">Minimum Start Date</label>
                <input class="input-filters date-filter" type="date" name="minTripStartDate" value="@Html.DisplayFor(filterParam => Model.Filters.MinStartDate)">
                <label class="input-filters form-label">Maximum Start Date</label>
                <input class="input-filters date-filter" type="date" name="maxTripStartDate" value="@Html.DisplayFor(filterParam => Model.Filters.MaxStartDate)">
                <label class="input-filters form-label">Minimum Star Rating</label>
                <select class="input-filters" name="minStarRating">
                    @if (Model.Filters.MinStarRating == 0)
                    {
                        <option class="first-option" selected></option>
                    }
                    else
                    {
                        <option class="first-option"></option>

                    }
                    @for (var i = 1; i <= 5; i++)
                    {
                        if (i == Model.Filters.MinStarRating)
                        {
                            <option value=@i selected>@i</option>

                        }
                        else
                        {

                            <option value=@i>@i</option>
                        }
                    }
                </select>
                <label class="input-filters form-label">Maximum Star Rating</label>
                <select class="input-filters" name="maxStarRating">
                    @if (Model.Filters.MaxStarRating == 0)
                    {
                        <option class="first-option" selected></option>
                    }
                    else
                    {
                        <option class="first-option"></option>

                    }
                    @for (var i = 1; i <= 5; i++)
                    {
                        if (i == Model.Filters.MaxStarRating)
                        {
                        <option value=@i selected>@i</option>

                        }
                        else
                        {

                        <option value=@i>@i</option>
                        }
                    }
                </select>
                <input class="input-filters" id="submit-filter" type="submit" value="Search">
            </form>
        </div>
    </center>
</section>
<section class="offers" id="contact">
    <center>

        @foreach (var offer in Model.Offers.Hotel) {

        <div class="offer-container">
            <h3>@Html.DisplayFor(modelItem => offer.HotelInfo.HotelName)</h3>
            <div class="hotel-image offer-column">
                <img src="@Html.DisplayFor(modelItem => offer.HotelInfo.HotelImageUrl)" width="148" height="99" alt="" />
                <br /><div class="hotel-rating">
                @if (offer.HotelInfo.HotelStartRatingNum > 0)
                {
                    var completeStart = (int)offer.HotelInfo.HotelStartRatingNum;
                    for (var i = 0; i < completeStart; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                    var halfStar = (offer.HotelInfo.HotelStartRatingNum - completeStart) > 0;
                    if (halfStar)
                    {
                        <i class="fa fa-star-half"></i>
                    }
                }
                    </div>
            </div>
            <div class="pricing-info offer-column">
                <div class="average-price">@Html.DisplayFor(modelItem => offer.HotelPricingInfo.AveragePriceValue) @Html.DisplayFor(modelItem => offer.HotelPricingInfo.Currency)</div>
                <div class="saving-perc">Saving @Html.DisplayFor(modelItem => offer.HotelPricingInfo.PercentSavings)%</div>
                <br />
                <div class="trip-dates">@Html.DisplayFor(modelItem => offer.OfferDateRange.TravelStartDateStirng) - @Html.DisplayFor(modelItem => offer.OfferDateRange.TravelEndDateStirng)</div>
            </div>
            <div class="hotel-info offer-column">
                @Html.DisplayFor(modelItem => offer.Destination.LongName)
                <br />
                @Html.DisplayFor(modelItem => offer.HotelInfo.HotelCity)
                <br />
                @Html.DisplayFor(modelItem => offer.HotelInfo.HotelStreetAddress)
                <br />
            </div>
        </div>

        }
    </center>
</section>